.grid {
  max-width: 1140px;
  gap: 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.user {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background: whitesmoke;
}

.img {
  border-radius: 10px;
}